[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/LustyExplorer"]
	path = bundle/LustyExplorer
	url = https://github.com/vim-scripts/LustyExplorer.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/ewiplayer/vim-scala.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
